
@{
    ViewData["Title"] = "Promoções";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agência Viage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/js/site.js" />
</head>
<body>
    <section id="hero">
        <h1>Promoções</h1>
    </section>
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="~/img/Beto Carreiro.jpg" alt="">
                <div class="des">
                   
                    <h5>Beto Carreiro</h5>
                    <h4 class="preco">R$1.200,00</h4>
                    <p>Em até 10x sem juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Angra dos Reis.jpg" alt="">
                <div class="des">
                    
                    <h5>Angra dos Reis</h5>
                    <h4 class="preco">R$1.370,00,00</h4>
                    <p>Em até 10x sem juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Campos do Jordão.jpg" alt="">
                <div class="des">
                    
                    <h5>Brasília</h5>
                    <h4 class="preco">R$970,00</h4>
                    <p>Em até 10x sem juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Fernando de Noronha.jpg" alt="">
                <div class="des">
                    
                    <h5>Natal</h5>
                    <h4 class="preco">R$1.200,00</h4>
                    <p>Em até 10x sem juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Porto de Galinhas.jpg" alt="">
                <div class="des">
                   
                    <h5>Porto de Galinhas</h5>
                    <h4 class="preco">R$1.500,00</h4>
                    <p>Em até 10x sem juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Porto Seguro.jpg" alt="">
                <div class="des">
                    
                    <h5>Porto Seguro</h5>
                    <h4 class="preco">R$970,00</h4>
                    <p>Em até 10x sem juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
        </div>
    </section>
</body>
</html>


